@font-face{
    font-family:'digital-clock-font';
    src: url('https://www.1001fonts.com/download/font/digital-7.regular.ttf');
   }


#display{
    text-align: right;
    margin: 20px;
    background-color: lightgray;
    padding: 10px;
}
div {
  
    justify-content: center;
}

p {
    font-family: 'digital-clock-font';
    font-size:x-large;
}

button {
    min-height: 35px;
    border: darkgray solid 2px;
    border-radius: 12px;
    margin: 1px;
    font-size: larger;

}

#container {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 3px solid black;
    border-radius: 25px;
}

#calcBottom{
    display: flex;
    margin: 10px;
}

#numberGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.number{
    flex: 0 0 32%;

}

#operatorGrid{
    display: flex;
    flex-direction: column;
    min-width: 50px;
}

